.contact-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}

.carousel-container {
  flex: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  }

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.form-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.form-container h5 {
  font-size: 1.2rem;
  color: #333;
}

.form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom-color: #555;
}

form button {
  background-color: rgb(185, 140, 150);
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover {
  background-color: #444;
}

/* Responsive Fixes */
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
  }

  .carousel-container {
    height: 300px;
  }

  .form-container {
    padding: 20px;
  }
}
