/* Contact.css */



.contact-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}

.carousel-container {
  flex: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  }

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Form Styles */
.h3 {
  font-size: x-small;
}

.contact-container {
  flex: 1;
  color: rgb(127, 110, 110);
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.contact-container h1 {
  font-size: 2.5rem;
  color: rgb(127, 110, 110);
}

.contact-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-bottom-color: #555;
}

form button {
  align-self: center;
  font-family: "Castoro Titling", serif;
  padding: 0.5rem 2rem; 
  border: 1px solid #a59898;
  background-color: transparent;
  color: rgb(121, 105, 105);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  margin: 10px auto; 
  text-decoration: none;
  display: inline-block; 
}

form button:hover {
  background-color: #bbaeae;
    color: #fff;
  }

/* Responsive Fixes */
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
  }

  .carousel-container {
    height: 300px;
  }

  .form-container {
    padding: 20px;
  }
}